{% extends 'main/base.html' %}

{% block title %}Новости сайта{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        {% if news %}
            {% for n in news %}
                <div class="alert alert-warning">
                    <h3>{{n.title}}</h3>
                    <p>{{n.anons}}</p>
                    <a href="{% url 'news-detail' n.id %}" class="btn btn-warning">Читать...</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Нет новостей</p>
        {% endif %}
    </div>
{% endblock %}